<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div ng-app="app">
<div ng-controller="dataCtrl" ng-init="setup()">
  {{ 1 + 1 }}
  <div ng-repeat="bike in bikes">
  <p ng-click="changeStatus(bike)" ng-class="{color: bike.community_name}">{{bike.community_name}}</p>
  </div>
</div>
</div>